extends layout 

block content 
    div
    .container
        
        br
        .text-center
        img.samuel-picture(src='../images/samuel-starling-1.jpg' width='200' alt='Samuel Showing You Are #1')
        br
        h1 About Samuel&apos;s Sermons
        hr
        br
        p
        | This website is dedicated to the memory of my grandfather, Samuel Starling, who was a minister for the
        | Methodist church
        | and a constant source of wisdom, kindness, and support to all who knew him. When he passed away, he left
        | behind a file
        | cabinet filled with a huge collection of his sermons; thoughtfully written, spanning decades, with
        | some dating back as
        | early as the 1980s. These sermons are more than just words on paper; they reflect his deep desire to
        | guide, uplift, and
        | offer hope to others.
        p
        | As I work through this collection, I&apos;m not only organizing his teachings but also reconnecting with who
        | he was and the
        | values he held dear. This project is, in many ways, a labor of love; an effort to preserve his legacy
        | and
        | share a part of
        | him with those who knew him and those who never had the chance. Samuel Starling was always willing to
        | help others, and
        | it feels fitting that his words might continue to offer support and insight to anyone who may need it.
        p
        | This site will continue to grow as I gradually add more of his sermons, each one a small piece of the
        | legacy he left
        | behind. I hope that by sharing his voice here, others may find comfort, guidance, and inspiration, just
        | as many did
        | during his lifetime.
        p
        | P.S. If you can transcribe any of the sermons on this website, I would very much appreciate it. If you
        | feel so
        | inclined please email the transcription to:
        a.nav-link(href='mailto:transcribe@samuelsermons.com') transcribe@samuelsermons.com
        br
        br