extends layout 

block content 
    .container 
        .page-actions 
            a.nav-link(href="/sermons") < Back
        .sermon-title 
            h3=sermon.title
    .sermon-images 
        iframe.sermonImage(src=sermon.imageLink, frameborder="0")